header
	.top
		.limiter
			.grid
				.col-6
					a.logo(href="/") Air-Air

				.col-18
					nav.nav.horizontal.slim
						a(href="#") Авиабилеты
						a(href="#") Отели

	.filter
		.limiter
			script(charset="utf-8", src="//www.travelpayouts.com/widgets/1f4ad9282917992718517a406277e7cf.js?v=400", async)